extends ../../../../templates/masterdanger.pug

block content
  section.hero.is-dark.is-bold
    .hero-body
      h1.title Coffeemate!
  hr
  h3.title Your account has been banned
  p &nbsp
  //- h3.subtitle &nbsp Contact Us: psm.sup.adm@gmail.com / 091996919603
  hr
  a.button.is-danger.is-inverted.is-outlined(href="/login") SIGN-IN
