extends ../../../templates/masterinfo.pug

block content
  section.hero.is-dark.is-bold
    .hero-body
      h1.title PUP Student Market
  hr
  h3.title Please You are to take a quick test to successfully register
  hr
  a.button.is-info.is-inverted.is-outlined(href="/register/test") START EXAM
