extends ../../../templates/mastersuccess.pug

block content
  section.hero.is-dark.is-bold
    .hero-body
      h1.title PUP Student Market
  hr
  h3.Registration Form Finished!
  p Next Step:
  p E-mail us a picture of your School ID (Front and Back) or School Registration Card (Front and Back).
  p psm.reg.adm@gmail.com
  hr
  a.button.is-success.is-inverted.is-outlined(href="/login") BACK
