extends ../../../../templates/navbar.pug

block content
  h3.title Update your information:
  section.hero.is-danger.is-bold
    .hero-body
      h1.title Submission Failed
      h1.subtitle - Password incorrect
      hr
      a.button.is-danger.is-inverted.is-outlined(class="button", href="/profile/-/edit") Back
