extends ../../../../templates/masterinfo.pug

block content
  section.hero.is-dark.is-bold
    .hero-body
      h1.title PUP Student Market
  hr
  h3.title Register:
  section.hero.is-danger.is-bold
    .hero-body
      h1.title Submission Failed
      h1.subtitle - Fill in all fields to continue
  br
  p Answer All Questions to Proceed
  hr
  form(method="POST" action="/register/test")
    each question in questiontab
      p #{question.strQuestion}
      each choice in choicetab
        if choice.intChQuestionID == question.intQuestionID
          input(type="radio", name="choice"+question.itemnum, value=choice.intChID)
          |  #{choice.strChoice}
          br
      hr
    input(type="submit" value="Submit")
