doctype html
//
  Spectral by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Generic - Spectral by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='stylesheet', href='/assets/css/home.css')
  body
    
    header#header
      h1 ADD COFFEESHOP
    div
      form(method='POST' action='/home2/addcoffeeshop')
        br
        br
        br
        label(for='Cname') Coffee Shop Name
        input(type='text', name='Cname', placeholder='shop Name') 
        label(for='Caddress') Address
        input(type='text', name='Caddress', placeholder='shop Address')
        label(for='Ctnmber') Telephone/Contact Number
        input(type='text', name='Ctnumber', placeholder='shop Telephone number')
        br
        input(type='submit', value='ADD')

    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/jquery.scrollex.min.js')
    script(src='/assets/js/jquery.scrolly.min.js')
    script(src='/assets/js/skel.min.js')
    script(src='/assets/js/util.js')
    script(src='/assets/js/main.js')
