extends ../../../templates/navbar.pug

block content
  div(align='center')
    h2.title Frequently Asked Questions
  hr(style='border: 0.5px solid #990000')

  h4.title How can I be sure that the personal information I shared in your website is secure?
  p A: All of your data is being kept and monitored in a secured database where passwords are only known to system admins.
  hr(style='border: 0.5px solid #990000')

  h4.title How do I start?
  p A: Items are posted on the Home Page, and also on the Categories tab to see more specific items. You can view posts and its description by clicking on View Details. You can buy items by clicking the Order button, which will take you to a page that will ask you for the Order Password. Once the Correct Order Password is entered, a transaction starts. You can also sell your own item on the Sell Item tab.
  hr(style='border: 0.5px solid #990000')

  h4.title Can everybody see my posts?
  p A: Your posts can be seen by everyone with an account.
  hr(style='border: 0.5px solid #990000')

  h4.title I see a post that seems to be inappropriate, what should I do?
  p A: Any posts can be reported by clicking the Report Button on the upper right corner. The admins will judge whether the post stays or goes down.
  hr(style='border: 0.5px solid #990000')

  h4.title How can I get the Order Password of Post?
  p A: You must contact the Seller through his E-mail, or on other communication platforms by using the Contact Information he/she displayed.
  hr(style='border: 0.5px solid #990000')

  h4.title What happens after ordering an item?
  p A: You are to meetup with your transaction partner with your copy of the Order Slip.
  hr(style='border: 0.5px solid #990000')

  h4.title How do I print the Order Slip?
  p A: When viewing the order slip, hold Ctrl and press P (Ctrl + P) on your Keyboard.
  hr(style='border: 0.5px solid #990000')

  h4.title What should I do after I receive the item I bought
  p A: You can either commend or report the person you had a transaction with based on your experience. And you can also keep the order slip because if ever there is a problem with the item you received, you may use the order slip as proof that you had a transaction with him/her.
  hr(style='border: 0.5px solid #990000')

  h4.title How do I get the order slip of a specific item?
  p A: Order slips are always given once the order password is encoded and both parties agreed in the transaction, In the Order slip contains the details of the transaction including the item. Incase you forgot to print it the first time, you can get it back anytime in Profile > Transactions as long as the transaction is ongoing or onhold.
  hr(style='border: 0.5px solid #990000')

  h4.title Where can I send my feedback, complaints, and suggestions to the admins?
  p A: You can contact us through our email [ psm.sup.adm@gmail.com ], we are open to your feedback ,suggestions and complaints.
  hr(style='border: 0.5px solid #990000')

  h4.title What should I do if there's any complications in the item I received or if the seller/buyer didn't show up in our meeting?
  p A: You can contact us at our email [ psm.sup.adm@gmail.com ] and also report the account of that user so that we can take action by warning or banning him.
  hr(style='border: 0.5px solid #990000')
