extends ../../../templates/navbar.pug

block content
  each user in usertab
    div(align='center')
      h3.title Welcome to PUP Student Market, #{user.strName}
    hr(style='border: 0.5px solid #990000')
    div(align='center')
      p
        i No posts were found
