extends ../../../templates/navbar.pug

block content
  div(align='center')
    h2.title RULES
  hr(style='border: 0.5px solid #990000')
  h3.subtitle 1. All Account owners must be a student or a former student of the university.
  h3.subtitle 2. The full description of the product being sold must be posted even it's issues (if it has).
  h3.subtitle 3. Do not post explicit items.
  h3.subtitle 4. You cannot edit posts with ongoing, onhold, or finished transaction.
  h3.subtitle 5. You cannot report posts with ongoing, onhold, or finished transaction.
  h3.subtitle 6. Always Make sure to come to the agreed meeting place and time .
  h3.subtitle 7. Order Slips must be printed by both the seller and buyer, and presented to each other.
  h3.subtitle 8. Always check your E-mail for viewing relevant messages from us.
