extends ../../../../templates/masterdanger.pug

block content
  section.hero.is-dark.is-bold
    .hero-body
      h1.title PUP Student Market
  hr
  h3.title Cannot Remove an Item with Ongoing Transaction
  hr
  a.button.is-danger.is-inverted.is-outlined(href='/home/page/1') BACK TO HOME
