extends ../../../templates/masterdanger.pug

block content
  section.hero.is-dark.is-bold
    .hero-body
      h1.title Coffeemate!
  hr
  h3.title Invalid!
  hr
  .field.is-grouped
    p.control
      a.button.is-danger.is-inverted.is-outlined(href="/login") Back

