html
    head
        //- link(rel='icon', type='image/png', href='/assets/images/upload_images/logo.ico')
        title Coffeemate!

        link(rel="stylesheet" href="/assets/bulma/bulma.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")

    body
        section.hero.is-info.is-bold
          .hero-body
              div.container
                #wrapper
                  block content
