html
    head
        //- link(rel='icon', type='image/png', href='/assets/images/upload_images/logo.ico')
        title Coffeemate!

        link(rel="stylesheet" href="/assets/bulma/bulma.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
    body
        script.
            var modal = document.getElementById('myModal');
            var img = document.getElementById('myImg');
            var modalImg = document.getElementById("img01");
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
            }
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
                modal.style.display = "none";
            }
        nav.navbar
            div.navbar-brand
                a.navbar-item(href="/admin") Coffeemate
            div.navbar-brand
                a.navbar-item(href="/admin/registration-unregistered/1") Registrations
            div.navbar-brand
                a.navbar-item(href="/admin/coffeeshop/1") Coffeeshops
            div.navbar-brand
                a.navbar-item(href="/admin/account-verified/1") Accounts
            div.navbar-brand
                a.navbar-item(href="/admin/post-reported/1") Reported Posts

            div.navbar-end
                div.navbar-item
                    a.navbar-item(href="/login") Log-Out

        section.hero.is-warning.is-bold
          .hero-body
              div.container
                #wrapper
                  block content
